# Ambientes e Dependências
env/
project-envs/
venv/
.env
.venv
selenium-drivers/

# Certificados, Sessão e Tokens (Segurança)
.credentials
.user
projects/
settings.json

# Logs e Metadados
*.log
datallog.log
.sdk-update-timestamp
.app-update-timestamp

# Outros
__pycache__/
.stignore
.stfolder